<footer class="footer bg-dark text-light">
    <div class="container">
      <div class="row">
           <!-- Logo -->
      <div class="col-md-2 mb-3">
        <img src="assets/images/logo.png" alt="Logo" height="50">
      </div>
        <!-- Contact Info -->
       
        <div class="col-md-4 text-center mb-3">
          <h5>Contact Info</h5>
          <br>
          <p><i class="fas fa-map-marker-alt" style="color: red;"></i> 15 Trudeau Lane, Tweed, ON, Canada, Ontario</p>
          <p><i class="fas fa-phone" style="color: red;"></i> +1 647-718-0000</p>
          <p><i class="fas fa-envelope" style="color: red;"></i> barsukfest&#64;gmail.com</p>
        </div>
        <!-- Quick Links -->
        <div class="col-md-3 text-center mb-3">
          <h5>Quick Links</h5>
          <br>
          <ul class="list-unstyled">
            <li><a href="/faq" class="text-decoration-none">FAQ</a></li>
            <li><a href="/tickets" class="text-decoration-none">Tickets</a></li>
            <li><a href="/gallery" class="text-decoration-none">Gallery</a></li>
          </ul>
        </div>
        <!-- Social Media -->
        <div class="col-md-3 text-center mb-3">
          <h5>Social Media</h5>
          <br>
          <a href="https://www.facebook.com/barsukfest/" class="text-decoration-none mx-2"target="_blank"><i class="fab fa-facebook" style="color: red;"></i></a>
          <a href="https://www.instagram.com/zhara_toronto?igsh=MXZucmszZGNrbGo5cA==" class="text-decoration-none mx-2"target="_blank"><i class="fab fa-instagram" style="color: red;"></i></a>
        </div>
      </div>
    </div>
  </footer>
  