<div class="container mt-5">
    <div class="row">
      <!-- Contact Info Section -->
      <div class="col-md-4 mb-3">
        <div class="text-center">
            <br>
           
          <h2 class="text-danger mb-4">Contact Info</h2>
          <p><i class="fas fa-map-marker-alt" style="color: red;"></i> 15 Trudeau Lane, Tweed, ON, Canada, Ontario</p>
          <p><i class="fas fa-phone" style="color: red;"></i> +1 647-718-0000</p>
          <p><i class="fas fa-envelope" style="color: red;"></i> barsukfest&#64;gmail.com</p>
        </div>
      </div>
  
      <!-- Map Section -->
      <div class="col-md-4 mb-3">
        <div class="embed-responsive embed-responsive-4by3">
          <iframe class="embed-responsive-item"
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2806.2353181269443!2d-77.30784108427228!3d44.47627297910225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cd265a174b2b951%3A0xc155f0e80ccfc1b1!2s15%20Trudeau%20Ln%2C%20Tweed%2C%20ON%20K0K%203J0%2C%20Canada!5e0!3m2!1sen!2sus!4v1622997258481!5m2!1sen!2sus"
                  allowfullscreen>
          </iframe>
        </div>
      </div>
  
      <!-- Image Section -->
      <div class="col-md-4 mb-3">
        <img src="assets/images/sign.png" alt="Image" class="img-fluid">
      </div>
    </div>
  </div>
  