
<div class="container mt-5">
    <div class="overlay"></div> <!-- Overlay element -->
    <div class="content">
      <div class="row">
        <div class="col-12 text-start">
          <h1 class="display-2 mb-4">Get to know us</h1>
          <h2 class="text-danger mb-4">Proudly Rocking Since 2022</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <p class="lead">Our festival is a vibrant celebration of culture and music. With a packed schedule of concerts, workshops, sports activities, and a beautiful lake for swimming, there's always something exciting to do.</p>
          <p class="lead">The music spans rock, folk, funk, and ska, featuring live performances by local bands. The eastern part honors Soviet-era bardic traditions with acoustic guitar music, while the center stage blends nostalgic Russian rock, Balkan beats, and classic Soviet art-rock from the 1990s.</p>
          <p class="lead">Wandering through the festival fosters spontaneous interactions and diverse community connections.</p>
          <p class="lead">Attendees from various countries, including Russia and Ukraine, come together in a harmonious convergence of people and cultures, creating an unforgettable tapestry of music, workshops, and activities.</p>
        </div>
      </div>
    </div>
  </div>
<br>
      <div class="container">
        <div class="col-12 text-start">
          <h2 class="text-danger mb-4">Food and Beverage</h2>
          <div class="row">
            <div class="col-md-6">
              <p class="lead">Get ready to indulge in a culinary adventure at Zhara Festival! We’ve curated an incredible lineup of food and beverage options to keep you fueled and refreshed throughout the event. Whether you're craving savory bites, sweet treats, or a refreshing drink, we've got something for everyone.</p>
              <p class="lead">Our food court features a diverse selection of food trucks and stalls offering delicious eats from around the world. From gourmet burgers and sizzling BBQ to vegan delights and fresh salads, you'll find a variety of options to satisfy your hunger.</p>
            </div>
            <div class="col-md-6 text-center">
              <img src="assets/images/plov.png" class="img-fluid mb-1 food-image" style="max-width: 75%;" alt="Festival Food Image">
            </div>
          </div>
        </div>
      </div>
  <br>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src="assets/images/activities.png" class="img-fluid" alt="Festival Image">
          </div>
          <div class="col-md-6">
            <h2 class="text-danger mb-4">Activities</h2>
            <p class="lead">Dive into a range of exciting activities designed to make your festival experience unforgettable. There's something for everyone, whether you're seeking adventure, creativity, or relaxation.</p>
            <h3 class="fw-normal">Workshops <span class="emoji" role="img" aria-label="paint brush">🖌️</span></h3>
            <p class="lead">Join our engaging workshops led by experts and enthusiasts. Learn new skills, from music and dance to arts and crafts, and take home something special you created.</p>
            <h3 class="fw-normal">Games and Competitions<span class="emoji" role="img" aria-label="chess">♟️</span></h3>
            <p class="lead">Test your skills and have fun with our variety of games and competitions. From scavenger hunts to friendly sports matches, there's plenty to keep you entertained.</p>
            <h3 class="fw-normal">Wellness Activities<span class="emoji" role="img" aria-label="weights">🏋️‍♂️</span></h3>
            <p class="lead">Take some time to rejuvenate with our wellness activities. Enjoy yoga sessions, meditation workshops, and other relaxing practices designed to help you unwind.</p>
            <h3 class="fw-normal">Kids' Zone<span class="emoji" role="img" aria-label="baby face">👶</span></h3>
            <p class="lead">Bring the whole family and let the little ones enjoy our Kids' Zone. With activities like face painting, storytelling, and arts and crafts, children of all ages will have a blast.</p>
          </div>
        </div>
      </div>
  <br>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2 class="text-danger mb-4">Merchandise</h2>
            <p class="lead">Take home a piece of the Zhara's magic with our exclusive merchandise! From stylish apparel to unique souvenirs, we have a range of items that are perfect for remembering your festival experience.</p>
            <h3 class="fw-normal">Festival Apparel</h3>
            <p class="lead">Rock your festival look with our official t-shirts, hoodies, and hats. Available in various designs and sizes, these are perfect for showing off your festival spirit.</p>
          </div>
          <div class="col-md-6 text-center">
            <img src="assets/images/merch.png" class="img-fluid mb-3" alt="Festival Merchandise">
            <a href="https://barsuk-toronto.creator-spring.com/listing/barsuktv?product=706&variation=103047&currency=USD&aid=ts-boosted-pla" class="btn btn-danger">Buy Merchandise</a>
          </div>
        </div>
      </div>
<br>
  <div class="container">
    <div class="row">
      <div class="col-12 text-start">
        <h2 class="text-danger mb-4">Your Guide to the Perfect Campground Experience</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="lead">Download your guide to the perfect campground experience. This image will help you navigate through the day.</p>
        <a href="assets/images/map.png" class="btn btn-danger">
            <i class="bi bi-download me-2"></i>Download
          </a>
        </div> 
      <div class="col-md-12 d-flex justify-content-center align-items-center">
      
        <img src="assets/images/map.png" class="img-fluid mb-3 mt-3" alt="Campground Guide Image">
      </div>
    </div>
  </div>
  <br>
