<div class="container mt-4">
  <!-- Fullscreen Image Carousel -->
  <div #carousel id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div *ngFor="let image of images; let i = index" [ngClass]="{'carousel-item': true, 'active': i === 0}">
        <img [src]="image" class="d-block w-100 img-main" alt="Main Image">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- Thumbnails Grid -->
  <div class="row mt-4">
    <div class="col-6 col-md-4 col-lg-3" *ngFor="let image of images; let i = index">
      <div class="thumbnail" (click)="selectImage(i)">
        <img [src]="image" class="img-fluid thumbnail-img rounded" alt="Thumbnail Image">
      </div>
    </div>
  </div>
</div>

