<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="assets/images/logo.png" alt="Zhara Music Festival" class="logo"style="width:50px;"alt="Zhara Music Festival Logo"> 
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
          </li>
    
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" aria-haspopup="true"
              aria-expanded="false">
              Info
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLink="/about" routerLinkActive="active">About</a>
              <a class="dropdown-item" routerLink="/gallery" routerLinkActive="active">Gallery</a>
              <a class="dropdown-item" routerLink="/faq" routerLinkActive="active">FAQ</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/schedule" routerLinkActive="active">Schedule</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/get-involved" routerLinkActive="active">Get Involved</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact-us" routerLinkActive="active">Contact Us</a>
          </li>
        </ul>

            <div class="nav-item">
              <a class="btn btn-danger" href="/https://buytix.ca/tickets.asp?event=11532">Buy Ticket</a>
            </div>
          
          
          
      </div>
    </div>
  </nav>
  
  