/* You can add global styles to this file, and also import other style files */
.nav-link.active {
    color: red !important;
}  
body {
    background-color: #343a40; /* Dark gray background color */
    color: #ffffff; /* Light text color */
  }