<div class="home-container">
  <!-- Social Media Links -->
  <ul class="social-links">
    
      <li class="nav-item">
        <a class="nav-link" href="https://www.facebook.com/barsukfest/" target="_blank"><i class="fab fa-facebook"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.instagram.com/zhara_toronto?igsh=MXZucmszZGNrbGo5cA==" target="_blank"><i class="fab fa-instagram"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.youtube.com/BarsukTV18" target="_blank"><i class="fab fab fa-youtube"></i></a>
      </li>
      
  </ul>
  <!-- Main Image Container -->
  <div class="home-image-container">
    <img src="assets/images/home.jpg" alt="Lake and people jumping into water at music festival Zhara" class="home-image">
    <div class="overlay">
      <div class="countdown-container">
        <div class="countdown-item">
          <div class="countdown-value">
            <span>{{ days }}</span>
            <span class="countdown-label">Days</span>
          </div>
        </div>
        <div class="countdown-item">
          <div class="countdown-value">
            <span>{{ hours }}</span>
            <span class="countdown-label">Hours</span>
          </div>
        </div>
        <div class="countdown-item">
          <div class="countdown-value">
            <span>{{ minutes }}</span>
            <span class="countdown-label">Minutes</span>
          </div>
        </div>
        <div class="countdown-item">
          <div class="countdown-value">
            <span>{{ seconds }}</span>
            <span class="countdown-label">Seconds</span>
          </div>
        </div>
      </div>
      <div class="text-large">June 29th - July 1st</div>
      <div class="text-small">15 Trudeau Lane, Tweed, ON</div>
    </div>
  </div>
</div>
